@import "slick-carousel/slick/slick.css"; 
@import "slick-carousel/slick/slick-theme.css";
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Hind:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Russo+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: #F6F9FC;
}

.nav{
  box-shadow: 0px 4px 8.5px 0px rgba(0, 0, 0, 0.15);
  transition: 0.4s all ease-in;
}

.footer{
  background: rgb(172,223,135);
  background: linear-gradient(225deg, rgba(172,223,135,1) 0%, rgba(118,186,27,1) 29%, rgba(30,86,49,1) 100%);
}

.footerLogo{
  filter: brightness(0) saturate(100%) invert(99%) sepia(4%) saturate(142%) hue-rotate(336deg) brightness(114%) contrast(89%);
}

.nav.active{
  box-shadow: none;
}

.container{
  box-shadow: 0px 4px 8.5px 0px rgba(0, 0, 0, 0.15);
}

.quote svg{
  fill: #F6F9FC;
}

.forHoverParent:hover .forHover{
  color: #0A2513;
}

.forHover:hover{
  color: #4C9A2A !important;
}

.quote:hover svg{
  fill:#4C9A2A;
}

.custom-shape{
  height: 73.5%;
  width: 100%;
  transform: skewY(-3.5deg) translateY(-18%);
  background: linear-gradient(90deg, #275E2C, #76BA1C, #A0D76E);
}

.h1{
  font-size: 7rem;
}

body.active{
  overflow-y: hidden;
}

@media screen and (max-height: 1000px) {
 .h1{
    font-size: 6rem;
 }
}

@media (max-width: 1700px) and (min-width: 768px) and (min-height: 800px) {
  .ph1{
    margin-top: 50px !important;
  }
}


@media screen and (min-width: 1919px) {
  .max-padding{
    padding: 0 192px !important;
  }

  .second-max-padding{
    padding: 0 117px !important;
  }

  .max-gap{
    gap: 200px !important;
  }
}

.realflex{
  display: flex !important;
}


@media screen and (max-width: 1760px) {
  .h1{
    font-size: 4.8rem;
  }
}

@media screen and (max-width: 1340px) {
  .h1{
    font-size: 4.4rem;
  }
}

@media screen and (max-width: 1024px) {
  .h1{
    font-size: 4.1rem;
    margin-bottom: 10px;
  }
}


@media screen and (max-width: 768px) {
  .custom-shape{
    transform: skewY(-14deg) translateY(-18%);
  }

  .h1{
    font-size: 3rem;
    margin-bottom: 300px;
  }

  .realflex .del:last-of-type{
    display: none !important;
  }
  
  .realflex .del:nth-child(3){
    display: none !important;
  }
}

@media screen and (max-width: 500px) {
  .h1{
    font-size: 2rem;
  }
}

.burger.active div:first-of-type{
  transform: translateY(7px) rotate(45deg);
}

.burger.active div:nth-of-type(2){
  opacity: 0;
}

.burger.active div:last-of-type{
  transform: translateY(-7px) rotate(-45deg);
}

.learn-more svg path{
  fill: #0A2513 !important;
}

.learn-more:hover svg path{
  fill: #4C9A2A !important;
}

.hiddenMenu.hiddenMenu-init {
  transition: none;
}

.hiddenMenu{
  transform-origin: center;
  transition: 0.7s all ease-in;
}

.hiddenMenu.active{
  top: -200px;
  width: 200vh;
  height: 200vh;
}

.menuel {
  opacity: 0;
  transition: opacity 1s ease-in, visibility 3s ease-in;
}

.menuel.active{
  opacity: 1;
}

.menue.close{
  transform: translateY(-200px);
}

.section3{
  background: radial-gradient(65.28% 57.94% at 144.22% 8.58%, #1E5631 25%, #123E21 100%)
}

@media (min-width: 768px) {
  .card {
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  
  .image-container {
    position: relative;
    height: auto;
  }
  
  .image {
    transition: transform 0.3s ease-in-out;
  }
  
  .content {
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover .image {
    transform: translateY(-15%);
  }

  @media (min-width: 1600px) {
    .card:hover .image {
      transform: translateY(-10%);
    }
  }
  
  .card:hover .content {
    transform: translateY(-20%);
  }
  
  .learn-more {
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
  }
  
  .card:hover .learn-more {
    opacity: 1;
  }
}

.el{
  transition: all 0.8s ease-in-out;
}

.slick-dots.custom-dots li.slick-active div {
  background-color: #4C9A2A;
}
